
.bioz-w-link, .bioz-w-link:focus, .bioz-w-link:active {
 color: #74B4F0;
 outline: 0;
 text-decoration: none;
}
.bioz-w-link:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.bioz-w-t-link, .bioz-w-t-link:focus, .bioz-w-t-link:active {
	outline: 0;
	text-decoration: none;
}
.bioz-w-t-link:hover {
	text-decoration: none;
	cursor: pointer;
}
.bioz-w-tf-card-badge {
	padding: 12px 6px;
	color: #54545c;
}
div.bioz-w-main-slider {
	margin-right: auto;
	margin-left: auto;
	max-width: 980px
}
div.bioz-w-slider {
	width:100%;
	min-height:100px;
	display:flex;
	overflow-x: hidden;
	scroll-behavior:smooth
}
div.bioz-w-slide {
	width:100%;
	flex-shrink:0;
	height:100%;
}
/* slick carousel */
.slick-disabled {
	display: none !important;
}
.slick-initialized {
	visibility: visible !important;
}
.slick-list {
	overflow: visible;
	overflow-x: hidden;
	z-index: 100;
}
div.bioz-w-table-row {
	display:table;
	width:100%;
	/*	height:100%; */
	table-layout:fixed;
	border-spacing:8px
}
div.bioz-w-table-column {
	display:table-cell;
	vertical-align:top;
	position:relative
}
img.bioz-w-image {
	height:auto;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width:100%;
	max-height:100%;
}
.tiles {
	width: 100%;
	height: 100%;
}
.tile {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.photo {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: transform .5s ease-out;
}
.bioz-w-add-underline:hover {
	text-decoration: underline !important;
	-webkit-text-decoration-line:  underline !important;
}
.bioz-w-button-arrow {
	width: 0;
	height: 0;
	line-height: 0;
	border-left: 16px solid transparent;
	border-top: 10px solid #aaa;
	top: 92%;
	left: 0;
	position: absolute;
	opacity: 0.8;
}
.bioz-w-button-right-arrow {
	width: 0;
	height: 0;
	line-height: 0;
	border-right: 16px solid transparent;
	border-top: 10px solid #aaa;
	top: 92%;
	right: 0;
	position: absolute;
	opacity: 0.8;
}
